<div class="welcome-container">

    <h1>Budget Saver</h1>

    <div class="links">
        <%= link_to "LOG IN", new_user_session_path %><br />
        <%= link_to "SIGN UP", new_user_registration_path %><br />
    </div>

</div>
