<div id="<%= dom_id payment_group %>">
  <p>
    <strong>Payment:</strong>
    <%= payment_group.payment_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= payment_group.group_id %>
  </p>

</div>
