<h1>Editing payment group</h1>

<%= render "form", payment_group: @payment_group %>

<br>

<div>
  <%= link_to "Show this payment group", @payment_group %> |
  <%= link_to "Back to payment groups", payment_groups_path %>
</div>
